# Copia este archivo como .env y rellena tus valores reales
# NUNCA subas el .env real a GitHub

# Cadena de conexión MongoDB Atlas
MONGO_URI=mongodb+srv://USUARIO:PASSWORD@cluster0.xxxxx.mongodb.net/empleadosDB?retryWrites=true&w=majority

# Puerto del servidor
PORT=3000
